<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/image/weather.png"/>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was designed by Sahib Arora.</p>
            <img class="portrait" src="/image/Snow.jpg"/>
        </div>

        {{>footer}}
    </body>
</html>